# Ignore the user library
/lib/

# Ignore the global test package
/test/

# Ignore my own test package
/src/test/

# Ignore environment variables
.env

# Ignore NetBeans project private files
nbproject/private/

# Ignore build files
/build/
/dist/
